hydra-core
scikit-learn==1.5.1
matplotlib
seaborn
numpy
wordcloud
scipy==1.11.4
pandas
dvc
pytest
kaggle
great-expectations
apache-airflow==2.7.3
zenml[server]
# feast
pendulum
shyaml
mlflow==2.14.3
giskard==2.0.0
evidently
Flask==2.2.5
flask-session2==1.3.1
psycopg2-binary
pymystem3
nltk
skorch==1.0.0
torch==2.2.0
gradio